/* Nome da tag */
p{
    font-size: 16px;
    color: #555;
    font-family: Verdana, Tahoma, sans-serif;
}

/* Classes */
.titulo{
    font-family: Helvetica, sans-serif;
    color: #f60;
}

/* IDs */
#destaque{
    background: #333;
    padding: 5px 10px;
    border: solid 2px #f60;
    color: #fff;
}

/* tag junto com class */
h1.titulo{
    text-decoration: underline;
    text-transform: uppercase;
}

/* Seletor irmão adjacente (primeiro irmão) */
h1 + p{
    color: #f60;
}

/* Seletor todos os elementos irmão(~) */

h2 ~ p{
    border: solid 2px #333;
}

p a{
    text-decoration: none;
}

/* Descendente direto (filho direto) */
p > a {
    background-color: orange;
}

.menu li{
    list-style: none;
    font-size: 18px;
    display: inline-block;
    padding: 10px;
    border-left: solid 2px #f60;
}

/* Pseudo classes */

/* Primeiro filho */
.menu li:first-child{
    border: none
}

/* Último filho */
.menu li:last-child{
    border: none;
    color: #fff;
    background-color: #f60;
    border-radius:  20px;
    margin-left: 5px;
}

/* Escolher o numero do elemento que será estilizado */
.lista_ordenada li:nth-child(3){
    color: blue;
}

/* odd seleciona todos os elementos ímpares */
.lista_ordenada li:nth-child(odd){
    background-color: #ddd;
    list-style-position: inside;
}

/* even seleciona todos os elementos pares */
.lista_ordenada li:nth-child(even){
    background-color: #333;
    color: #ddd;
    list-style-position: inside;
}

.titulo-destaque{
    font-size: 64px;
    font-family: arial;
    text-align: center;
    margin: 100px 0;
}

/* Pseudo Elemento */
.titulo-destaque::before{
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background: #f60;
    margin: 0 auto;
}

.titulo-destaque::after{
    content: "";
    display: block;
    width: 650px;
    height: 5px;
    background: #f60;
    margin: 2px auto;
}

.titulo + div p{
    margin-bottom: 80px;
}

/* Primeira letra */
.titulo + div p::first-letter{
    font-size: 50px;
    font-weight: bold;
}

/* Primeira linha */
.titulo + div p::first-line{
    color: #999;
}

h2.titulo::selection{
    background: black;
    color: blue;
}